body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: row;
}

#logo {
  
}

header, h1 {

}

.nav {

}

main {
  display: flex;
  background-color: grey color: black;
}

.content {
  flex-direction: column;
}

.about {

}

.pics {
  flex-direction: row;
}

.events {
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
}
