body {
  margin: 0;
  font-family: sans-serif;
}

header {
  display: flex;
  background-color: black;
  color: white;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#logo {

}

header, h1 {

}

.nav {
  display: flex;
  flex-direction: row;
}

.nav a{
  padding: 10px;
}


main {
  display: flex;
  background-color: grey color: black;
}

.content {
  flex-direction: column;
}

.about {

}

.pics {
  flex-direction: row;
}

.events {
  flex-direction: column;
}

footer {
  background-color: black;
  color: white;
}
