html, body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-color: black;
  color: white;
}

main {
  background-color: grey
  color: black;
}

footer {
background-color: black;
color: white;
}
